<!DOCTYPE html ' +'span class="foo"');
// 12345678901234567890123456789012345678901234567
var str = "This is a string with numbers
<strong>123</strong>, and special characters &lt;,&gt;\",\'";
document.write(str);

/*
 * This JavaScript file contains various examples of code that can be used in the browser console or as part of a webpage.
 * This JavaScript file contains various examples of code that can be used in the browser console or as part of a webpage.
 * This JavaScript file contains comments that are not part of the code.
 */

// Single-line comment
alert("Hello World!"); // Another single-line comment

/**
 * Multi-line comment
 * Contains multiple lines of text to demonstrate multi-line functionality.
 * Can include any number of lines or none at all if desired.
 */
 /* More on this later... */

/*
 * Nested comments: https://github.com/airbnb/javascript#comments
 */

function add(a, b) {
    return a + b;
}

console.log('The answer to life, the universe, and everything is', add(42, 0));

if (true) {
    console.log('Inside the true block!');
} else {
    console.log('Inside the false
    <div class="row">
    
    <tm1-ui-element-list tm1-instance="@years" tm1-dimension="Dimension Name" tm1-subset="Subset Name" tm1-attributes="Attribute Name" tm1-calculate-top-level="true" ng-model="model">
        <!-- Main Column -->

    </tm1-ui-element-list>
    
    <div class="col-md-12">
    <table class="table table-striped">
    
        <thead>
            <tr>
            <th class="text-center"> Header 1 </th>
            <th class="text-center"> Header 2 </th>
            </tr>
        </thead>
    
        <tbody>
            <tr ng-show="item.value!='0'" ng-repeat="item in model">
            <td class="text-right"> {{ item.value }} </td>
            <td class="text-left"> {{ item.description }} </td>
            </tr>
        </tbody>
        
    </table>
    </div>
</div>

/*
* TM1 UI Element List Directive
*/
