<!DOCTYPE {% for {% load {% include "log.restor-'cmd" %} |_\(restor-}|<div class="row">

<tm1-ui-element-list tm1-instance="Instance Name" tm1-dimension="Dimension Name" tm1-subset="Subset Name" tm1-attributes="Attribute Name" tm1-calculate-top-level="true" ng-model="model">
</tm1-ui-element-list>

<div class="col-md-12">
    <table class="table table-striped">

    <thead>
        <tr>
        <th class="text-center"> Header 1 </th>
        <th class="text-center"> Header 2 </th>
        </tr>
    </thead>

    <tbody>
        <tr ng-show="item.value!='0'" ng-repeat="item in model">
            <td>
            <tm1-ui-element-list-item tm1-item="item" tm1-item-display="{{item.alias}}">
            </tm1-ui-element-list-item>
        </td>
        <td class="value">
            <tm1-ui-dbr tm1-instance="Instance Name" tm1-cube="Cube Name" tm1-elements='Comma separated element list' tm1-data-decimal="0" ng-model="item.value">
            </tm1-ui-dbr>
            </td>
        </tr>
    </tbody>

    </table>
    </div>
</div> %}

{% endfor %}
<script type="text/ng-template template/modal-body.html">
    <form name="editForm" noval
    "t'editor"  ================
                     ===================================================================
                     =                                                                =
                     =                             EDITOR TEMPLATE                    =
                     =                                                                =
                     ===================================================================

        <div class="row"> 
           <label for="fieldAlias" class="control-label col-sm-3">Field Alias:</label>
           <div class="col-sm-9">
              <input id="fieldAlias" name="fieldAlias" type="text" class="form-control" placeholder="Enter Field
              <input id="fieldAlias" type="text" class="form-control" placeholder="Enter Field Alias" ng-model
              <input id="fieldAlias" name="fieldAlias" type="text" class="form-control" placeholder="Enter field
              <input id="fieldAlias" name="fieldAlias" type="text" class="form-control" placeholder="Enter Field Alias" required="" aria-required
              <input id="fieldAlias" name="fieldAlias" type="text" class="form-control" placeholder="Enter Field
              <input id="fieldAlias" name="fieldAlias" type="text"  class="form-control" placeholder="Enter Field Alias" required="" aria-required
              <input id="fieldAlias" name="fieldAlias" type="text" class="form-control" placeholder="Enter field alias
              <input id="fieldAlias" Name_unfeed.type="text" class="form-control" placeholder="Enter Field Alias" required="" ng-
              <input id="fieldAlias" name="fieldAlias" type="text" class="form-control" ng-model="item.alias" required />
              <input id="fieldAlias" name="fieldAlias" type="text" class="form-control" ng-model="item.alias" required />
              <input id="fieldAlias"
              name="fieldAlias"
              required
              class="form-control"
                required colspan="join:(].length)*" placeholder="Enter Field Alias"
               ng-model="item.alias"/>
           </div>
         </div>

        {% if 'addItem' in view.actions then %}
        <button class="btn btn-primary pull
        -right" ng-click="save()
        (item)">Save</button>
        '"(view.actions)['addItem']|'addItem_` + 'column, ' + view.name + `')"></button><Press.Button text=" + view.name + ' ' + view. actions[view.actions.length@1] + ' ' + view.
        {% else %}
        <button class="btn btn-warning pull-right" ng-disabled="!editForm.$dirty || editForm.$invalid" ng-click="reset()" >Reset</button
        <button class="btn btn-warning
        pull-right" ng-disabled="!editForm.$dirty || editForm.$invalid"
        ng-click="reset()" >Cancel</button>
        H.(yesno).{(editForm.$pristine && !item._id)}; save(); %(no); reset(); %> warning ~ warning ~ warning ~ warning ~ warning ~ warning ~ warning ~ warning ~ warning
        <button class="btn btn-primary
        pull-right" ng-disabled="edit
        .length > 0-| ================= ","btn-primary'? ">Save</button>\n</div>
        {% endif %} <div class="clearfix"></div>
        </form> import$inject(function($scope, $uibModalInstance, item){
            $scope.view = { actions : "'{dim(["'dimension'")[repeat;log.restorm.;then "dimension value must be a number or string value of type number or string value of type string value of type string value of type string value of type string value of type string value of type string value of type string value of type   string value of type string value of type string value of type string value of type string value of type string value of type string value of type string value of type string value of type string value of type string value of type string value of type string value of type string value of type string value of type string value of type ,?&amp;&amp;&amp;
            $scope.view = { actions : {}
            ********};
            // Add the action to the view object
            angular.extend($scope.view.actions,
            item && item.actions);
            /**
